*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
}
.container{
    height: 60%;
    width: 100%;
}
.container header h2{
    padding-top: 30px;
    text-align: center;
    font-size: 70px;

}
.container header{
    background: rgb(17, 199, 190);
    height: 40%;
    width: 100%;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.main #number{
    font-size: 20px;
    border: none;
    border-radius: 10px;
    outline:2px solid  rgb(17, 199, 190);
    margin-top: 20px;
    width: 400px;
    height: 60px;
}
#btn{
    height: 60px;
    margin-top: 20px;
    width: 100px;
    margin-left: 20px;
    border-radius: 20px;
}
#content {
    outline: none;
    border: none;
    box-shadow: 0px 0px 5px 5px rgb(225, 236, 236);
    height: 100%;
    font-size: 20px;
    width: 90%;
    margin: auto;
    text-align: center;
}